body {
  padding: 3.5rem; }

div {
  margin: 1rem;
  padding: 0.75rem; }

.some-module {
  margin: 0.2rem;
  padding: 10rem;
  height: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1.5rem; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.8rem; }

.xx-tiny {
  font-size: 0.2rem;
  margin-bottom: 0.2rem; }
