@import 'dialog-size';

$dialog-sizes:
  (0.2rem tiny)
  0.5rem
  (0.75rem small)
  0.8rem
  (1rem large isBase)
  (1.2rem x-large)
  (1.5rem xx-large)
  3.5rem
  (5rem huge)
  10rem;

body {
  padding: size(3.1rem);
}

div {
  margin: size(0);
  padding: size(-.5);
}

.some-module {
  margin: size(-1);
  padding: size(1);
  height: size(0);
  font-size: size(.2);
  margin-bottom: size(bigger);
  margin-top: size(current);
}

h1 {
  font-size: size(huge);
}
h2 {
  font-size: size('smaller than huge');
}
@each $tag in h3, h4, h5, h6 {
  #{$tag} {
    font-size: size(smaller);
  }
}
.xx-tiny {
  font-size: size(tiny);
  margin-bottom: size('smaller than tiny'); /// should output a warning
}
